Checks: '
  -*,
  modernize-*
  mpi-*,
  bugprone-*,
  cppcoreguidelines-*,
  google-default-arguments,
  google-runtime-operator,
  google-explicit-constructor,
  hicpp-multiway-paths-covered,
  hicpp-exception-baseclass,
  misc-unconventional-assign-operator,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-non-copyable-objects,
  misc-no-recursion,
  misc-throw-by-value-catch-by-reference,
  misc-uniqueptr-reset-release,
  modernize-*,  
  openmp-use-default-none,
  portability-simd-intrinsics,
  readability-identifier-naming,
  -readability-redundant-preprocessor,
  -readability-named-parameter,
  -readability-function-size,
  -readability-simplify-boolean-expr,
  -readability-identifier-length,
  -readability-duplicate-include,
  -readability-redundant-member-init,
  -readability-suspicious-call-argument,
  -readability-qualified-auto,
  -readability-isolate-declaration,
  -readability-uppercase-literal-suffix,
  -readability-container-data-pointer,
  -readability-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,  
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-virtual-class-destructor,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,
  -modernize-avoid-c-arrays,
  -modernize-use-override,
  -modernize-use-emplace,
  -misc-no-recursion,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -modernize-use-equals-default,
  -google-explicit-constructor,
  -hicpp-exception-baseclass
  '

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 19
  - key: modernize-loop-convert.MinConfidence
    value: safe
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: lower_case
  - key: readability-identifier-naming.ConstantMemberCase
    value: lower_case
  - key: readability-braces-around-statements.ShortStatementLines
    value: 0
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x, y'
