Checks: '
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  bugprone-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers
  '
CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 19
  - key: modernize-loop-convert.MinConfidence
    value: safe
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantMemberCase
    value: lower_case
  - key: readability-braces-around-statements.ShortStatementLines
    value: 0