Makefile
autom4te.cache
config.log
config.status
configure.ac.bak
.tm_project2.cache
.anjuta/session
missing
src/Makefile.am.bak
src/.deps/
po/Makefile.in
install-sh
depcomp
html
latex
*.o
src/timeit
config.status.lineno
libtool
.anjuta_sym_db.db
.lock-wscript
intltool-extract.in
intltool-merge.in
intltool-update.in
output/*
Profiling/src/.deps
Profiling/po
*.mo
*.gmo
*.pot
stamp-it
stamp-h1
config.h
POTFILES
install
Makefile.in
Makefile.am.bak
test.db
test.db.lock
timeit-*.tar.gz
build
configure
Debug
Profiling
.anjuta/associations
*~
.cproject
.metadata
.settings
.autotools
