Makefile
autom4te.cache
config.log
config.status
configure.ac.bak
.tm_project2.cache
missing
install-sh
depcomp
latex
*.o
config.status.lineno
libtool
.anjuta_sym_db.db
.lock-wscript
intltool-extract.in
intltool-merge.in
intltool-update.in
output/*
Profiling/src/.deps
Profiling/po
*.mo
*.gmo
stamp-it
stamp-h1
config.h
POTFILES
install
Makefile.in
Makefile.am.bak
*.db
*.db.lock
timeit-*.tar.gz
build
configure
Debug
Release
Profiling
.anjuta/associations
*~
.metadata
.autotools
.bzrignore
.bzr
.anjuta
/test.db.lock.lock
/callgrind.out.*
documentation
.cccc
src/*.gcno
src/*.gcda
config.guess
config.sub
cmake_install.cmake
/CMakeFiles
coverage
/CMakeCache.txt
install_manifest.txt
version
src/version.h
/_CPack_Packages
debian/timeit
*.deb
*.rpm
*.out
*.data

/.settings/org.sonar.ide.eclipse.core.prefs
/testresult.xml
/debian/files
/obj-x86_64-linux-gnu/src/timeit
/po/POTFILES.in
/po/timeit-temp.pot
/tags
/.cproject
/.project
/.codelite
/.ninja_deps
/.ninja_log
/build.ninja
/rules.ninja
/src/tags
/src/cmake-build-debug-coverage/
/src/lib/inc/libtimeit/version.h
/obj-x86_64-linux-gnu/
/.idea/dataSources*
/testdata/
/builds/
/clang-tidy-fixes.yaml
