Makefile
autom4te.cache
config.log
config.status
configure.ac.bak
.tm_project2.cache
missing
install-sh
depcomp
latex
*.o
src/timeit
config.status.lineno
libtool
.anjuta_sym_db.db
.lock-wscript
intltool-extract.in
intltool-merge.in
intltool-update.in
output/*
Profiling/src/.deps
Profiling/po
*.mo
*.gmo
stamp-it
stamp-h1
config.h
POTFILES
install
Makefile.in
Makefile.am.bak
*.db
*.db.lock
timeit-*.tar.gz
build
configure
Debug
Profiling
.anjuta/associations
*~
.metadata
.autotools
.bzrignore
.bzr
.anjuta
/test.db.lock.lock
/callgrind.out.*
documentation
.cccc
src/*.gcno
src/*.gcda
config.guess
config.sub
cmake_install.cmake
CMakeFiles
coverage
CMakeCache.txt
*.cmake
install_manifest.txt
version
src/version.h
_CPack_Packages
*.deb
*.rpm
*.out
*.data
src/version.h

