Source: timeit
Section: utils
Priority: optional
Maintainer: Kent Asplund <hoglet@solit.se>
Build-Depends: debhelper (>= 9), cmake, gettext , pkg-config, libgtkmm-2.4-dev , libsqlite3-dev, libxss-dev, libc6-dev (>=2.0) , libjansson-dev, libcurl-dev, libnotify-dev, dh-autoreconf
Standards-Version: 3.9.3

Package: timeit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The unobtrusive time tracker.
 TimeIT is a time tracker that aims to be unobtrusive and simple to use.
 It has Workspace tracking, Idle detection, hierarchical tasks and can
 show summaries over day/week/month
