
[Desktop Entry]
Version=1.0
Exec=timeit
Icon=timeit.svg
Name=TimeIt
GenericName=Time Tracker
Comment=
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;Utility;
