/misc.xml
/modules.xml
/inspectionProfiles/
/inspectionProfiles/profiles_settings.xml
/.gitignore
/saveactions_settings.xml
/timeit.iml
/vcs.xml
/workspace.xml
/shelf/Default_Changelist/shelved.patch
/shelf/Default_Changelist1/shelved.patch
/shelf/Default_Changelist2/shelved.patch
/shelf/Default_Changelist.xml
/shelf/Default_Changelist1.xml
/shelf/Default_Changelist2.xml
